[package]
name = "serde_dynamo"
version = "3.0.0-alpha.0"
authors = ["Bryan Burgers <bryan@burgers.io>"]
edition = "2018"
license = "MIT"
description = "serde serializer/deserializer for DynamoDB items"
readme = "README.md"
documentation = "https://docs.rs/serde_dynamo"
homepage = "https://github.com/zenlist/serde_dynamo"
repository = "https://github.com/zenlist/serde_dynamo"
keywords = ["serde", "rusoto", "dynamodb", "dynamo", "serde_dynamodb"]

[dependencies]
rusoto_dynamodb = { version = "0.47", default-features = false, optional = true }
aws-sdk-dynamodb = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main", optional = true }
serde = "1"

[dev-dependencies]
chrono = { version = "0.4", features = ["serde"] }
maplit = "1"
rusoto_core = { version = "0.47", default-features = false, features = ["rustls"] }
serde_bytes = "0.11"
serde_derive = "1"
serde_json = "1"

[features]
default = ["rusoto"]
rusoto = ["rusoto_dynamodb"]
aws_sdk = ["aws-sdk-dynamodb"]